
@font-face {
    font-family: 'Plumb';
    src: url('https://wf.cdn.gmru.net/static/general/fonts/Plumb/plumb-light.woff') format('woff'),
         url('https://wf.cdn.gmru.net/static/general/fonts/Plumb/plumb-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plumb';
    src: url('https://wf.cdn.gmru.net/static/general/fonts/Plumb/plumb-medium.woff') format('woff'),
         url('https://wf.cdn.gmru.net/static/general/fonts/Plumb/plumb-medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
