
body {
	background-image: url(/static/wf.my.com/img/main/themes/heist/bg.jpg);
}

body.inner {
	background-image: url(/static/wf.my.com/img/main/themes/heist/bg_inner.jpg);
	background-position-y: 0px;
}