
/* ----------------------------------------------------------- */
/* Page layout */
/* ----------------------------------------------------------- */

body {
	height: 100vh;
}

.layout {
	width: inherit;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}

.layout.active {
	position: relative;
	}
.layout.active::before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.7);
	z-index: 2;
}

body.inner header {
	height: 120px;
	}

.block_layout {
	width: 100%;
	max-width: 1300px;
	box-sizing: border-box;
	flex-grow: 1;
	margin: 0px auto;
	padding: 0px 20px;
	}

body .layout > .block_layout {
	padding-top: 1px;
}
body.inner .layout > .block_layout {
	padding-top: 6px;
}

@media screen and (max-width: 720px) {

html {
	background-image: none !important;
	}

body .layout {
	max-width: 720px;
	overflow: hidden;
	}

.block_layout {
	padding: 0px 0px;
	}

}

/* ----------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------- */

header {
	height: 236px;
	position: relative;
	box-sizing: border-box;
	}

@media screen and (max-width: 720px) {

header,
body.inner header {
	height: auto;
	padding-top: 91px;
	}

}

header::before {
	content: '';
	width: 100%;
	height: inherit;
	position: absolute;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 35%) repeat scroll 0 0;
	}
body.inner header::before {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 35%) repeat scroll 0 0;
	}

	header .block_layout {
		height: 100%;
		position: relative;
		}

header .logo {
	width: 258px;
	height: 125px;
	display: block;
	left: 0px;
	top: 54%;
	margin: 0px;
	background: url(/static/wf.my.com/img/main/page/logo.png) center center no-repeat;
	transform: translateY(-50%);
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: relative;
	}
body.inner header .logo {
	width: 280px;
	height: 43px;
	position: absolute;
	left: 20px;
	margin: 0px;
	padding-top: 0px;
	font-size: 0px;
	text-indent: -1111px;
	background-image: url(/static/wf.my.com/img/main/page/logo_sm.png);
	overflow: hidden;
	z-index: 1;
	}

@media screen and (max-width: 720px) {

header .logo {
	display: none;
	}

}

.header_m {
	width: 100%;
	min-width: 360px;
	height: 91px;
	position: fixed;
	display: none;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
	align-items: stretch;
	top: 0px;
	left: 0px;
	background: var(--pad-color);
	border-bottom: 1px solid #0f0a0f;
	z-index: 110;
	}

	.header_m .main_menu_m,
	.header_m .user_menu_m {
		width: 91px;
		min-width: 91px;
		height: inherit;
		display: flex;
		cursor: pointer;
		background: #fff;
		}

	.header_m .main_menu_m {
		background: url(/static/wf.my.com/img/main/page/details/menu_m.png) center center no-repeat;
		}
	.header_m .logo_m {
		width: 80%;
		height: inherit;
		display: flex;
		background: url(/static/wf.my.com/img/main/page/logo_m.png) center center no-repeat;
		background-size: auto;
		}
	.header_m .user_menu_m {
		background: url(/static/wf.my.com/img/main/page/details/menu_user_m.png) center center no-repeat;
		}

	.header_m #mobile_auth {
		width: 91px;
		height: 100%;
		position: absolute;
		right: 0px;
		z-index: 102;
		cursor: pointer;
		}

@media screen and (max-width: 720px) {

.header_m {
	display: flex;
	}

}

@media screen and (max-width: 460px) {

.header_m .logo_m {
	background-size: contain;
	}

}

/* Header menu */

.header_menu {
	width: 100%;
	display: flex;
	position: absolute;
	box-sizing: border-box;
	justify-content: space-between;
	flex-wrap: wrap;
	top: 0px;
	left: 0px;
	padding: 0px 20px;
	color: #fff;
	font: 14px/30px Plumb, Arial, Helvetica, sans-serif;
	white-space: nowrap;
	z-index: 99;
	cursor: default;
}

	.header_menu .section {
		display: flex;
	}

		.header_menu .section .block {
			display: flex;
		}

			.header_menu .item {
				position: relative;
				margin-right: 20px;
				display: flex;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				cursor: pointer;
			}
			.header_menu .item:last-child {
				margin-right: 0px;
			}
			.header_menu .item:hover {
				color: #fff;
				text-decoration: underline;
			}

			.header_menu .item.icon {
				padding-right: 20px;
				}
			.header_menu .item.icon::after {
				content: '';
				width: 16px;
				height: 24px;
				display: block;
				position: absolute;
				top: 2px;
				right: 0px;
				background: url(https://wf.cdn.gmru.net/static/wf.mail.ru/img/main/page/details/header_menu_ico.png) 0px center no-repeat;
				}
			.header_menu .item.icon.type1::after {background-position-x: 0px}
			.header_menu .item.icon.type2::after {background-position-x: -20px}
			.header_menu .item.icon.type3::after {background-position-x: -40px}

				.header_menu .bell {
					display: flex;
					position: relative;
					align-items: center;
					font: 10px/15px Quantico, Plumb, Arial;
				}
				.header_menu .bell:hover {
					text-decoration: none;
				}
				.header_menu .bell[data="0"] {
					display: none;
				}
				.header_menu .bell::before {
					content: '';
					width: 20px;
					height: 19px;
					display: block;
					margin: 0px 4px;
					background: url(/static/wf.my.com/img/main/page/details/header_menu_bell.png) center center no-repeat;
				}
				.header_menu .bell::after {
					content: attr(data);
					min-width: 22px;
					box-sizing: border-box;
					padding: 0px 2px;
					color: #fff;
					text-align: center;
					background: var(--item-color);
				}
				.header_menu .bell:hover::after {
					outline: 1px solid #fff;
					outline-offset: -1px;
				}

				.header_menu .username {
					position: relative;
					padding-left: 34px;
					text-transform: none;
				}
				.header_menu .username::before {
					content: '';
					width: 20px;
					height: 19px;
					display: block;
					position: absolute;
					left: 9px;
					top: 5px;
					background: url(/static/wf.my.com/img/main/page/details/profile_ico.png) center center no-repeat;
					background-size: contain;
					filter: brightness(1000%);
				}
				.header_menu .username::after {
					content: '|';
					margin: 0px 6px;
				}

			.header_menu .submenu {
				position: relative;
				cursor: pointer;
			}

			.header_menu .submenu .item {
				padding-right: 20px;
			}
			.header_menu .submenu .item::after {
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				top: 50%;
				right: 0px;
				transform: translate(-50%,-15%);
				border: 4px solid transparent;
				border-top-color: var(--item-color);
				z-index: 1;
				}
			.header_menu .submenu:hover .item::after {
				transform: translate(-50%,-70%);
				border-top-color: transparent;
				border-bottom-color: var(--item-color);
				}

				.header_menu .submenu:hover .item {
					text-decoration: none;
					background: var(--pad-color);
				}

				.header_menu .submenu .list {
					display: block;
					position: absolute;
					top: 100%;
					right: 0px;
					padding: 0px;
					color: var(--pad-color);
					list-style: none;
					background: var(--pad-color);
					opacity: 0;
					overflow: hidden;
					transform: scaleY(0);
					transform-origin: left top 0;
					transition: transform 300ms ease 0s, -webkit-transform 300ms ease 0s;
					z-index: 25;
				}
				.header_menu .submenu:hover .list {
					opacity: 1;
					transform: scaleY(1);
				}

				.header_menu .submenu .list li {
					box-sizing: border-box;
					margin: 0px;
					padding: 0px;
					-moz-user-select: none;
					cursor: pointer;
				}
				.header_menu .submenu .list li:hover {
					background-color: #fff;
				}

					.header_menu .submenu .list li a {
						width: 100%;
						position: relative;
						display: inline-block;
						box-sizing: border-box;
						padding: 6px 16px 6px 16px;
						color: #fff;
						line-height: 18px;
						text-align: left;
						background-size: 24px 460px;
						border-bottom: 1px solid #2c2f32;
					}
					.header_menu .submenu .list li a:hover {
						color: #000;
						text-decoration: none;
					}
					.header_menu .submenu .list li:last-child a {
						border-bottom: none;
					}

	.lang_select {
		height: 30px;
		position: relative;
		box-sizing: border-box;
		padding: 0px 25px 0px 12px;
		font-size: 12px;
		text-transform: uppercase;
		background-clip: padding-box;
		-moz-box-align: stretch;
		-moz-user-select: none;
		cursor: pointer;
		}
	.lang_select:hover {
		background: var(--pad-color);
		}

		.lang_select span {
			display: inline-block;
			margin: 0px;
			padding: 0px;
			color: #ccc;
			font: 12px/22px Plumb, Arial, Helvetica, sans-serif;
			}
		.lang_select:hover span {
			color: #fff;
			}

			.lang_select .flag {
				width: 24px;
				height: 16px;
				display: inline-block;
				position: relative;
				margin-top: 6px;
				outline: 1px solid var(--pad-color);
				outline-offset: -1px;
				}

				.lang_select .flag > span {
					width: inherit;
					height: inherit;
					display: inline-block;
					}
				.lang_select .flag > [class^="ico_"] {
					background: url(/static/wf.my.com/img/main/page/details/flags.png) 0px 0px no-repeat;
					}
				.lang_select .flag > .ico_en {background-position-y: -0px}
				.lang_select .flag > .ico_de {background-position-y: -36px}
				.lang_select .flag > .ico_fr {background-position-y: -72px}
				.lang_select .flag > .ico_tr {background-position-y: -108px}
				.lang_select .flag > .ico_pl {background-position-y: -144px}
				.lang_select .flag > .ico_ru {background-position-y: -180px}
				.lang_select .flag > .ico_cn {background-position-y: -216px}
				.lang_select .flag > .ico_es {background-position-y: -252px}
				.lang_select .flag > .ico_pt {background-position-y: -288px}

				.lang_select .language-link.pt {
					display: none!important;
				}

		.header_menu .lang_select ul {
			display: block;
			position: absolute;
			top: 30px;
			left: 0px;
			padding: 0px;
			color: var(--pad-color);
			list-style: none;
			background: var(--pad-color);
			opacity: 0;
			overflow: hidden;
			-webkit-transform: scaleY(0);
			transform: scaleY(0);
			transform-origin: left top 0;
			transition: transform 300ms ease 0s, -webkit-transform 300ms ease 0s;
			z-index: 25;
			}
		.lang_select:hover ul {
			opacity: 1;
			transform: scaleY(1);
			}

		.lang_select ul li {
			box-sizing: border-box;
			margin: 0px;
			-moz-user-select: none;
			cursor: pointer;
			}
		.lang_select ul li:hover {
			background-color: #fff;
			}

			.lang_select ul li a,
			.lang_select ul li span {
				width: 100%;
				position: relative;
				display: inline-block;
				box-sizing: border-box;
				padding: 6px 16px 6px 47px;
				color: #fff;
				line-height: 18px;
				background-size: 24px 460px;
				border-bottom: 1px solid #2c2f32;
				}
			.lang_select ul li:last-child a,
			.lang_select ul li:last-child span {
				border-bottom: none;
				}

			.lang_select ul li span:before,
			.lang_select ul li a:before {
				content: '';
				width: 24px;
				height: 16px;
				position: absolute;
				top: 7px;
				left: 12px;
				background: url(/static/wf.my.com/img/main/page/details/flags.png) 0 0 no-repeat;
				}

			.lang_select li .en::before {background-position-y: -0px} /* ico_en_us 369px */
			.lang_select li .de::before {background-position-y: -36px}
			.lang_select li .fr::before {background-position-y: -72px}
			.lang_select li .tr::before {background-position-y: -108px}
			.lang_select li .pl::before {background-position-y: -144px}
			.lang_select li .na::before {background-position-y: -335px}
			.lang_select li .eu::before {background-position-y: -301px}
			.lang_select li .cn::before {background-position-y: -216px}
			.lang_select li .es::before {background-position-y: -252px}
			.lang_select li .pt::before {background-position-y: -288px}

			.lang_select ul li span:hover,
			.lang_select ul li a:hover {
				color: #000;
				text-decoration: none;
				}

	.lang_select::before {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		right: 9px;
		bottom: 0;
		margin: auto;
		border-color: transparent transparent #a5a5a5;
		border-style: none solid solid;
		border-width: 0 4px 4px;
		transform: rotate(-180deg);
		pointer-events: none;
		}
	.lang_select:hover::before {
		border-color: transparent transparent #fff;
		transform: rotate(0deg);
		}

@media screen and (max-width: 720px) {

.header_menu {
	display: none !important;
}

}

/* Play button */

.play_button {
	width: 315px;
	height: 58px;
	max-width: 315px;
	display: none;
	position: absolute;
	box-sizing: border-box;
	right: 20px;
	bottom: 1px;
	color: #fff;
	font: bold 16px/58px Quantico, Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: var(--item-color);
	cursor: pointer;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
	}
.play_button:hover {
	color: #000;
	text-decoration: none;
	background: #fff;
	}

@media screen and (max-width: 1300px) {

.play_button {
	width: 24%;
	}

}
@media screen and (max-width: 720px) {

.play_button {
	display: none !important;
	}

}

/* ----------------------------------------------------------- */
/* Main menu */
/* ----------------------------------------------------------- */

.main_menu_layout {
	width: 100%;
	min-height: 58px;
	margin: 0px auto;
	}

.main_menu {
	width: 100%;
	}
.main_menu.fixed {
	position: fixed;
	top: 0px;
	z-index: 99;
	}

	.main_menu.fixed #block-menu-primary-links > ul {
		background: #121212;
		}

	.main_menu #block-menu-primary-links > ul {
		width: 100%;
		height: 58px;
		position: relative;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		align-items: stretch;
		margin: 0px;
		padding: 0px;
		background: #000;
		}

		.main_menu #block-menu-primary-links > ul > li {
			width: auto;
			height: inherit;
			display: flex;
			flex-grow: 1;
			position: relative;
			margin: 0px;
			padding: 0px;
			list-style: none;
			background-color: #000;
			}

		.main_menu #block-menu-primary-links > ul > li::before {
			content: '';
			width: 1px;
			height: 50%;
			display: block;
			position: absolute;
			left: -1px;
			top: 50%;
			background: var(--item-color);
			transform: translateY(-50%);
		}
		.main_menu #block-menu-primary-links > ul > li.first::before,
		.main_menu #block-menu-primary-links > ul > li:last-child::before,
		.main_menu #block-menu-primary-links > ul > li:nth-last-child(2)::before {
			width: 0px;
		}
		.main_menu.fixed #block-menu-primary-links > ul > li.first::before {
			width: 1px;
		}

		.main_menu #block-menu-primary-links > ul > li:nth-child(n+2),
		.main_menu.fixed #block-menu-primary-links > ul > li.menu_logo + li {
			margin-left: 1px;
			}
		.main_menu #block-menu-primary-links > ul > li.menu_logo + li {
			margin-left: 0px;
			}

			.main_menu #block-menu-primary-links > ul > li > a {
				width: 100%;
				height: inherit;
				display: block;
				box-sizing: border-box;
				padding: 0px 12px 0px 24px;
				color: #fff;
				font: bold 16px/58px Quantico, Arial, Helvetica, sans-serif;
				text-align: left;
				text-transform: uppercase;
				text-decoration: none;
				}
			.main_menu #block-menu-primary-links > ul > li:hover > a {
				color: #000;
				background-color: #fff;
				}

			.main_menu #block-menu-primary-links > ul > li.menu_logo {
				width: 0px;
				position: relative;
				flex-grow: 0;
				overflow: hidden;
				transition: width 300ms ease;
				cursor: pointer;
				}
			.main_menu.fixed #block-menu-primary-links > ul > li.menu_logo {
				width: 56px;
				}

				.main_menu.fixed #block-menu-primary-links > ul > li.menu_logo .menu_cube {
					width: 100%;
					height: 100%;
					position: absolute;
					transform-style: preserve-3d;
					pointer-events: none;
					perspective: 250px;
					}

					.main_menu #block-menu-primary-links > ul > li.menu_logo .menu_logo_pic,
					.main_menu #block-menu-primary-links > ul > li.menu_logo .menu_arrow_up {
						width: 100%;
						height: 100%;
						display: block;
						position: absolute;
						transform-origin: 50% 50% -30px;
						transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s;
						will-change: transform;
						}

					.main_menu #block-menu-primary-links > ul > li.menu_logo .menu_logo_pic {
						top: 0px;
						left: 0px;
						background: #000 url(/static/wf.my.com/img/main/page/details/menu_logo.png) center center no-repeat;
						background-size: 36px auto;
						}
					.main_menu #block-menu-primary-links > ul > li.menu_logo:hover .menu_logo_pic {
						-webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
						transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
						}

					.main_menu #block-menu-primary-links > ul > li.menu_logo .menu_arrow_up {
						background: var(--item-color) url(/static/wf.my.com/img/main/page/details/menu_arrow_up.png) center center no-repeat;
						-webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
						transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
						}
					.main_menu #block-menu-primary-links > ul > li.menu_logo:hover .menu_arrow_up {
						-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
						transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
						}

			/* expandable menu button */

			.main_menu #block-menu-primary-links > ul > li.expanded > a::after {
				content: '';
				width: 13px;
				height: 11px;
				display: block;
				position: absolute;
				top: 50%;
				right: 5%;
				background: url(/static/wf.my.com/img/main/page/details/menu_arr.png) center center no-repeat;
				transform: translateY(-50%);
				/* border: 6px solid #575c61;
				border-left-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent; */
				}
			.main_menu #block-menu-primary-links > ul > li.expanded:hover > a::after {
				/* border-top-color: #000; */
				filter: brightness(0);
				}

			.main_menu #block-menu-primary-links > ul > li.expanded.last > a::after {
				background: none;
			}

			/* main button */

			.main_menu #block-menu-primary-links > ul > li:nth-last-child(2) {
				width: 25%;
				flex-grow: 0;
				-webkit-transition: width 0.3s ease;
				transition: width 0.3s ease;
				}
			.main_menu.fixed #block-menu-primary-links > ul > li:nth-last-child(2) {
				width: 20.4%;
				flex-grow: 0;
				}

			@media screen and (max-width: 1300px) {

				.main_menu #block-menu-primary-links > ul > li:nth-last-child(2) {
					min-width: 0px;
				}

			}

			.main_menu #block-menu-primary-links > ul > li:nth-last-child(2) > a {
				box-sizing: border-box;
				padding: 0px;
				color: #fff;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
				outline: 1px solid var(--item-color);
				outline-offset: -1px;
				position: relative;
				}
			.main_menu #block-menu-primary-links > ul > li:nth-last-child(2) > a:hover {
				color: #000;
				background: #fff;
				border-color: #fff;
				outline: none;
				}
			.main_menu #block-menu-primary-links > ul > li:nth-last-child(2) > a.is-first-bonus:after {
			    content: attr(data-text);
				width: 90px;
			    height: 24px;
			    display: block;
			    position: absolute;
			    top: 10px;
			    right: -23px;
			    font: 100 14px/24px Plumb, Arial, Helvetica, sans-serif;
			    -webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    transform: rotate(45deg);
			    text-align: center;
			    text-transform: uppercase;
			    color: #fff;
			    background: var(--item-color);
			}

			/* user submenu */

			.main_menu #block-menu-primary-links > ul > li:nth-last-child(1) {
				width: 0px;
				display: flex;
				flex-grow: 0;
				margin-left: 0px;
				-webkit-transition: width 0.3s ease;
				transition: width 0.3s ease;
				}
			.main_menu.fixed #block-menu-primary-links > ul > li:nth-last-child(1) {
				width: 56px;
				margin-left: 1px;
				}

				.main_menu #block-menu-primary-links > ul > li:nth-last-child(1) > a {
					position: relative;
					padding: 0px;
					font-size: 0px;
					background: var(--item-color) url(/static/wf.my.com/img/main/page/details/profile_ico.png) center 10px no-repeat;
					overflow: hidden;
					cursor: pointer;
					}
				.main_menu #block-menu-primary-links > ul > li:nth-last-child(1) > a:hover {
					background-color: #fff;
					}
				.main_menu #block-menu-primary-links > ul > li:nth-last-child(1) > a::after {
					content: '';
					width: 0px;
					height: 0px;
					position: absolute;
					top: 80%;
					left: 50%;
					transform: translate(-50%,-15%);
					border: 6px solid transparent;
					border-top-color: var(--pad-color);
					z-index: 1;
					}
				.main_menu #block-menu-primary-links > ul > li:nth-last-child(1) a:not([href]) {
					background-position: center center;
					}
				.main_menu #block-menu-primary-links > ul > li:nth-last-child(1) a:not([href])::after {
					border-top-color: transparent;
					}

					.main_menu #block-menu-primary-links > ul > li:nth-last-child(1) > ul {
						left: auto;
						right: -1px;
						}

	/* Secondary menu */

	.main_menu #block-menu-primary-links ul > li > ul {
		height: 0px;
		transform: scaleY(0);
		overflow: hidden;
		}
	.main_menu #block-menu-primary-links ul > li.expanded:hover > ul {
		height: auto;
		transition: transform 0.26s ease-out;
		transform-origin: left top 0;
		transform: scaleY(1);
		will-change: transform;
		}

	.main_menu #block-menu-primary-links > ul > li > ul {
		min-width: 100%;
		position: absolute;
		margin: 0px 0px 0px 0px;
		padding: 0px;
		top: 100%;
		left: 0px;
		z-index: 90;
		}

		.main_menu #block-menu-primary-links > ul > li > ul li {
			width: inherit;
			position: relative;
			box-sizing: border-box;
			margin: 0px 0px 0px;
			padding: 0px;
			list-style: none;
			border-top: 1px solid #1d1f20;
			}

		.main_menu #block-menu-primary-links > ul > li > ul > li {
			left: 0px;
			top: 100%
			}

			.main_menu #block-menu-primary-links > ul > li > ul li a {
        		overflow-wrap: break-word;
				width: 100%;
				display: block;
				box-sizing: border-box;
				padding: 9px 20px;
				color: #fff;
				font: bold 14px/24px Quantico, Arial, Helvetica, sans-serif;
				text-align: left;
				text-transform: uppercase;
				text-decoration: none;
				white-space: nowrap;
				background-color: #000;
				}

			.main_menu #block-menu-primary-links > ul > li > ul > li.expanded > a {

				}
			.main_menu #block-menu-primary-links > ul > li > ul > li.expanded > a:after {
				content: '';
				width: 0px;
				height: 0px;
				display: block;
				position: absolute;
				top: 22px;
				right: 16px;
				border: 6px solid #fff;
				border-top-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent;
				}

			.main_menu #block-menu-primary-links > ul > li > ul li a:hover {
				color: #000;
				background-color: #fff;
				}
			.main_menu #block-menu-primary-links > ul > li:first-of-type > ul li.last:after {
			    content: '';
			    display: block;
			    position: absolute;
			    width: 16px;
			    height: 16px;
			    background: url(/static/wf.my.com/img/main/page/details/rss.png) left center no-repeat;
			    right: 10px;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    -webkit-filter: brightness(300%);
			    filter: brightness(300%);
			}

	/* Tertiary menu */

	.main_menu #block-menu-primary-links > ul > li > ul > li ul {
		min-width: 250px;
		position: absolute;
		top: 0px;
		left: 100%;
		margin: 0px;
		padding: 0px;
		z-index: 90;
		}

		.main_menu #block-menu-primary-links > ul > li > ul > li ul li.expanded > a {

			}
		.main_menu #block-menu-primary-links > ul > li > ul > li ul li.expanded > a:after {
				content: '';
				width: 0px;
				height: 0px;
				display: block;
				position: absolute;
				top: 22px;
				right: 16px;
				border: 6px solid #fff;
				border-top-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent;
				}
		.main_menu #block-menu-primary-links > ul > li > ul > li ul li.expanded > a:hover {
			background-position: right 5px;
			}

		.main_menu #block-menu-primary-links > ul > li > ul > li > ul li a {
			padding: 0px 10px;
			color: #fff;
			background-color: #2d2a23;
			border-left: 1px solid #5f5d58;
			}
		.main_menu #block-menu-primary-links > ul > li > ul > li > ul li a:hover {
			color: #2d2a23;
			border-left: 1px solid #ffcb00;
			}


/* ----------------------------------------------------------- */
/* Mobile menu */
/* ----------------------------------------------------------- */

.main_menu #block-menu-menu-mobile,
.main_menu #block-menu-menu-mobile-user {

	display: none;
	position: absolute;
	margin-top: 92px;
	-webkit-transition: width 0.2s ease-out, left 0.2s ease-out, right 0.2s ease-out;
	transition: width 0.2s ease-out, left 0.2s ease-out, right 0.2s ease-out;
	will-change: transform;
	z-index: 1;
	}

.main_menu #block-menu-menu-mobile {
	width: 80%;
	right: 100%;
	}
.main_menu #block-menu-menu-mobile-user {
	width: 0%;
	left: 100%;
	}

.main_menu #block-menu-menu-mobile.opened {
	width: 80%;
	right: 20%;
	z-index: 3;
	}
.main_menu #block-menu-menu-mobile-user.opened {
	width: 80%;
	left: 20%;
	z-index: 3;
	}

	.main_menu #block-menu-menu-mobile > ul,
	.main_menu #block-menu-menu-mobile-user > ul {
		height: 100%;
		display: none;
		position: relative;
		padding: 0px;
		-khtml-user-select: none;
		-moz-user-select: none;
		user-select: none;
		}

	.main_menu #block-menu-menu-mobile.opened > ul,
	.main_menu #block-menu-menu-mobile-user.opened > ul {

		}

		.main_menu #block-menu-menu-mobile > ul > li,
		.main_menu #block-menu-menu-mobile-user > ul > li {
			width: 100%;
			position: relative;
			margin: 0px;
			padding: 0px;
			border-bottom: 1px solid #45494d;
			overflow: hidden;
			list-style: none;
			}
		.main_menu #block-menu-menu-mobile > ul > li:first-child,
		.main_menu #block-menu-menu-mobile-user > ul > li:first-child {
			border-top: 1px solid #1d1f20;
			}

		.main_menu #block-menu-menu-mobile > ul > li > a,
		.main_menu #block-menu-menu-mobile-user > ul > li > a,
		.main_menu #block-menu-menu-mobile > ul > li > span,
		.main_menu #block-menu-menu-mobile-user > ul > li > span {
			display: block;
			box-sizing: border-box;
			padding-left: 25px;
			color: #fff;
			font: 18px/46px Quantico, Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			white-space: nowrap;
			text-overflow: ellipsis;
			background: var(--pad-color);
			overflow: hidden;
			cursor: pointer;
			}

		.main_menu #block-menu-menu-mobile > ul > li:nth-last-child(2) a {
			color: var(--item-color);
			}

		.main_menu #block-menu-menu-mobile > ul > li:last-child > a,
		.main_menu #block-menu-menu-mobile-user > ul > li:last-child > a {
			background: var(--item-color);
			}
		.main_menu #block-menu-menu-mobile > ul > li.expanded:hover > a,
		.main_menu #block-menu-menu-mobile-user > ul > li.expanded:hover > a {
			color: #000;
			background: #fff;
			}

		.main_menu #block-menu-menu-mobile > ul > li > a:hover,
		.main_menu #block-menu-menu-mobile-user > ul > li > a:hover,
		.main_menu #block-menu-menu-mobile > ul > li > span:hover,
		.main_menu #block-menu-menu-mobile-user > ul > li > span:hover {
			color: #000;
			text-decoration: none;
			background: #fff;
			}

		.main_menu #block-menu-menu-mobile > ul > li.expanded > a,
		.main_menu #block-menu-menu-mobile-user > ul > li.expanded > a {
			position: relative;
			cursor: pointer;
			}
		.main_menu #block-menu-menu-mobile > ul > li.expanded > a::after,
		.main_menu #block-menu-menu-mobile-user > ul > li.expanded > a::after {
			content: '';
			width: 0px;
			height: 0px;
			display: block;
			position: absolute;
			top: 50%;
			right: 5%;
			transform: translateY(-25%);
			border: 8px solid #575c61;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			}

		.main_menu #block-menu-menu-mobile > ul > li.expanded > a.opened::after,
		.main_menu #block-menu-menu-mobile-user > ul > li.expanded > a.opened::after {
			transform: translateY(-78%);
			border-top-color: transparent;
			border-bottom-color: #575c61;
			}

		.main_menu #block-menu-menu-mobile > ul > li.expanded:hover > a::after,
		.main_menu #block-menu-menu-mobile-user > ul > li.expanded:hover > a::after {
			border-top-color: #000;
			}
		.main_menu #block-menu-menu-mobile > ul > li.expanded:hover > a.opened::after,
		.main_menu #block-menu-menu-mobile-user > ul > li.expanded:hover > a.opened::after {
			border-top-color: transparent;
			border-bottom-color: #000;
			}

		/* Mobile secondary */

		.main_menu #block-menu-menu-mobile ul > li > ul,
		.main_menu #block-menu-menu-mobile-user ul > li > ul {
			width: 100%;
			display: none;
			margin: 0px;
			padding: 0px;
			border-top: 1px solid #45494d;
			overflow: hidden;
			}

			.main_menu #block-menu-menu-mobile > ul > li > ul > li,
			.main_menu #block-menu-menu-mobile-user > ul > li > ul > li {
				width: 100%;
				margin: 0px;
				padding: 0px;
				border-bottom: 1px solid #45494d;
				list-style-type: none;
			    list-style-image: none;
				}

			.main_menu #block-menu-menu-mobile > ul > li > ul > li:last-child,
			.main_menu #block-menu-menu-mobile-user > ul > li > ul > li:last-child {
				border-bottom: none;
				}

			.main_menu #block-menu-menu-mobile > ul > li > ul > li > a,
			.main_menu #block-menu-menu-mobile-user > ul > li > ul > li > a {
				display: block;
				box-sizing: border-box;
				padding-left: 75px;
				color: #fff;
				font: 18px/46px Quantico, Arial, Helvetica, sans-serif;
				text-transform: uppercase;
				white-space: nowrap;
				text-overflow: ellipsis;
				background: var(--pad-color);
				overflow: hidden;
				}
			.main_menu #block-menu-menu-mobile > ul > li > ul > li > a:hover,
			.main_menu #block-menu-menu-mobile-user > ul > li > ul > li > a:hover {
				color: #000;
				text-decoration: none;
				background: #fff;
				}

	/* Mobile language switch */

	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a {
		position: relative;
		padding-left: 115px;
		}

	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a::before {
		content: '';
		width: 24px;
		height: 16px;
		display: block;
		top: 50%;
		margin-left: -40px;
		position: absolute;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		background: url(/static/wf.my.com/img/main/page/details/flags.png) left 36px no-repeat;
		}

	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/en/"]::before {
		background-position-y: -0px; /* -369px */
		}
	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/de/"]::before {
		background-position-y: -36px;
		}
	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/fr/"]::before {
		background-position-y: -72px;
		}
	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/pl/"]::before {
		background-position-y: -144px;
		}
	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/ru/"]::before {
		background-position-y: -180px;
		}
	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/cn/"]::before {
		background-position-y: -216px;
		}
	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/es/"]::before {
		background-position-y: -252px;
		}
	.main_menu #block-menu-menu-mobile > ul > li:first-child > ul > li > a[href$="/tr/"]::before {
		background-position-y: -108px;
		}

	.m_username span {
		color: var(--item-color);
		}
	.m_username:hover span {
		color: #000;
		}

@media screen and (max-width: 720px) {

.main_menu #block-menu-primary-links {
	display: none;
	}

.main_menu #block-menu-menu-mobile,
.main_menu #block-menu-menu-mobile-user {
	display: block;
	}

	.main_menu #block-menu-menu-mobile > ul,
	.main_menu #block-menu-menu-mobile-user > ul {
		display: block;
		}

.main_menu_layout {
	min-height: 0px;
	margin: 0px;
	}

.main_menu,
.main_menu.fixed {
	width: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 101;
	}

	.main_menu .block_layout {
		width: 100%;
		height: 100%;
		position: absolute;
		padding: 0px;
		left: 0px;
		z-index: 101;
		}

}

/* Mobile menu overlay */

#menu_overlay_m {
	width: 0px;
	height: 0px;
	overflow: hidden;
	}

@media screen and (max-width: 720px) {

#menu_overlay_m {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(4, 8, 12, 0.85);
	-webkit-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out;
	z-index: 1;
	}

}

/* ----------------------------------------------------------- */
/* Right menu */
/* ----------------------------------------------------------- */

aside .block-menu ul {
	margin: 42px 0px 0px;
	padding: 0px;
	}
	aside .block-menu_with-title ul {
		margin: 0px;
	}
	aside .block-menu_without-title ul {
		margin: 0px;
	}
	aside .fixed .block-menu_with-title ul {
		margin: 0;
	}
	aside .block-menu ul li {
		list-style: none;
		margin: 0 0 1px 0;
		padding: 0;
		background-color: var(--pad-color);
		}
		aside .block-menu li a {
			display: block;
			box-sizing: border-box;
			padding: 12px 20px;
			color: #a2a7ac;
			font: 16px/20px Quantico, Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			text-decoration: none;
			}
		aside .block-menu li a:hover {
			color: #fff;
			}
		aside .block-menu li a.active {
			color: #000;
			background: #fff;
			}
		aside .block-menu li:last-child {
			margin-bottom: 0px;
			}
		aside .block-menu ul li.block-menu__title {
			background: none;
		    margin-bottom: 0;
		}
		aside .block-menu ul li.block-menu__title a {
		    color: #fff;
		    font: 21px/30px Quantico, Arial, Helvetica, sans-serif;
		    padding-top: 6px;
		    padding-bottom: 6px;
		    text-transform: uppercase;
		    cursor: default;
		}
		aside .block-menu .block-menu__sub {
			background: none;
		}
		aside .block-menu .block-menu__sub > a {
			background: var(--pad-color);
			position: relative;
		}
		aside .block-menu .block-menu__sub > a:after {
		    content: '';
		    width: 0px;
		    height: 0px;
		    display: block;
		    position: absolute;
		    top: 44%;
		    right: 13px;
			border-style: solid;
			border-width: 6px 6px 0 6px;
			border-color: #575c61 transparent transparent transparent;
		}
		aside .block-menu .block-menu__sub > a:hover:after {
			border-color: #fff transparent transparent transparent;
		}
		aside .block-menu .block-menu__sub > a.is-open:after {
			transform: rotate(180deg);
		}
		aside .block-menu .block-menu__sub-list {
			margin: 1px 0px 0px 0px;
			display: none;
		}
		aside .block-menu .is-open + .block-menu__sub-list {
			display: block;
		}
		aside .block-menu .block-menu__sub-list li {
			background: none;
			border-bottom: 1px solid var(--pad-color);
		}
		aside .block-menu .block-menu__sub-list li:last-of-type {
			border-bottom: none;
		}

@media screen and (max-width: 1300px) {
	aside .block-menu li a {
		padding-left: 32px;
		}
	aside .block-menu_with-title li a {
		padding-left: 20px;
	}
}
@media screen and (max-width: 720px) {
	aside .block-menu_with-title ul {
    	margin-top: 0px;
	}
	aside .block-menu_without-title ul {
    	margin-top: 32px;
	}
	aside .block-menu_with-title li a {
		padding-left: 32px;
	}
}

/* ----------------------------------------------------------- */
/* Content layout */
/* ----------------------------------------------------------- */

.container.front_top {
	width: 100%;
	}

.cont_layout {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	align-items: stretch;
	}
body.inner .cont_layout {
	background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent 100px);
}

.cont_layout::before {
	content: '';
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	margin-top: -1px;
	background: rgba(0,0,0,0.9);
}
body.inner .cont_layout::before {
	height: 6px;
	margin-top: -6px;
}

[class="layout node"] .cont_layout {
	min-height: 0px;
	}

	.container,
	.aside,
	aside {
		display: flex;
		flex-direction: column;
		}

	.container {
		width: 75%;
		}

	.aside,
	aside {
		width: 25%;
		min-width: 315px;
		flex-direction: column;
		justify-content: flex-start;
		border-left: 1px solid transparent;
		}

	@media screen and (max-width: 1300px) {

		.inner .container,
		.inner .aside,
		.inner aside {
			width: 100%;
			min-width: 320px;
			border-left: none;
			}

		.inner .cont_layout {
			flex-direction: column;
			}

		.block_layout {
			max-width: 944px;
			}

	}

	@media screen and (max-width: 720px) {

		body {
			min-width: 360px;
			}

		.container,
		.aside,
		aside {
			width: 100%;
			min-width: 320px;
			border-left: none;
			}

		.cont_layout {
			flex-direction: column;
			}

	}

/* ----------------------------------------------------------- */
/* Node layout */
/* ----------------------------------------------------------- */

div[id^="node"] {
	padding: 16px 32px;
	color: #a9aeb3;
	background: var(--pad-color);
	}

/* ----------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------- */

footer {
	margin-top: 110px;
	padding: 10px 0px;
	background: var(--pad-color);
	overflow: hidden;
	}
	footer .block_layout {
		position: relative;
		}

	#block-menu-menu-menu-footer {
		width: 75%;
		float: left;
		margin-bottom: 20px;
		}

	#block-menu-menu-menu-footer .menu {
		padding: 0px;
		font-family: Plumb, Arial, Helvetica, sans-serif;
		overflow: hidden;
		}

	#block-menu-menu-menu-footer a {
		display: block;
		line-height: 32px;
		white-space: nowrap;
		text-decoration: none;
		}

		#block-menu-menu-menu-footer > .menu > li {
			min-width: 180px;
			display: block;
			float: left;
			margin: 0px 10px 0px 0px;
			padding: 0px;
			}
		#block-menu-menu-menu-footer > .menu > li:last-child {
			margin-right: 0px;
			}

			#block-menu-menu-menu-footer > .menu > li > a {
				padding: 18px 0px;
				color: #5e6468;
				text-transform: uppercase;
				}
			#block-menu-menu-menu-footer > .menu > li > a:hover {
				color: #fff;
				}

				#block-menu-menu-menu-footer > .menu .menu > li {
					margin: 0px;
					padding: 0px;
					list-style: none;
					position: relative;
					}

				#block-menu-menu-menu-footer > .menu .menu > li > a {
					color: #5e6468;
					}
				#block-menu-menu-menu-footer > .menu .menu > li > a:hover {
					color: #fff;
					}

	#block-menu-menu-footer-menu-special .menu {
		margin: 0;
		padding: 0;
		font-family: Quantico;
		font-size: 0;
		}
		#block-menu-menu-footer-menu-special li {
		    display: inline-block;
		    margin: 0 32px 0 0;
		    padding: 0;
		    font-size: 12px;
		    text-transform: uppercase;
		    list-style-type: none;
		}
		#block-menu-menu-footer-menu-special li a,
		#block-menu-menu-footer-menu-special li a:visited {
		    color: #fff;
		    text-decoration: none;
		}
		#block-menu-menu-footer-menu-special li a:hover {
			text-decoration: underline;
			}

	#block-menu-menu-menu-footer + .block {
		width: 25%;
		float: right;
		padding-top: 10px;
		}

		.logos_item {
			display: block;
			margin: 0px auto;
			color: #5e6468;
			font-size: 12px;
			text-align: center;
			text-decoration: none;
			}

		.logos_item img {
			display: block;
			margin: auto;
			}

		.counters {
			width: 1px;
			height: 1px;
			position: absolute;
			left: -1px;
			overflow: hidden;
			}

	#block-block-69 {
		width: 100%;
		display: flex;
		position: relative;
		box-sizing: border-box;
		float: left;
		justify-content: space-between;
		align-items: center;
		}

		#block-block-69 > div {
			display: flex;
			}

		.footer_text {
			flex-direction: column;
			flex-grow: 1;
			}

			.footer_text p {
				margin: 0px;
				color: #5e6468;
				font-size: 11px;
				line-height: 14px;
				text-align: center;
				cursor: default;
				}

		.footer_ico {
			height: 100%;
			align-items: center;
			right: 0px;
			}

			.footer_ico img {
				height: 42px;
				margin: 0px 6px;
				}

@media screen and (max-width: 720px) {

footer {
	margin-top: 60px;
	}

#block-menu-menu-menu-footer {
	display: none;
	}

	#block-menu-menu-menu-footer + .block {
		width: 100%;
		float: none;
		padding-top: 10px;
		padding-bottom: 18px;
		}

		.logos {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			}

			.logos_item {
				display: flex;
				}

	#block-block-69 {
		flex-direction: column;
		padding: 0px;
		text-align: center;
		}

		.footer_text {
			margin-bottom: 20px;
			padding: 0px 16px;
			}

			.footer_text p {
				margin: 0px;
				font-size: 14px;
				line-height: 20px;
				}

			.footer_ico img {
				height: 50px;
				}

}
